{
    "openapi": "3.0.1",
    "info": {
        "title": "App Store Connect API",
        "version": "1.2",
        "description": "Automate the tasks you perform on the Apple Developer website and in App Store Connect.\n\nThe App Store Connect API is a REST API that enables the automation of actions you take in App Store Connect.  Calls to the API require JSON Web Tokens (JWT) for authorization; you obtain keys to create the tokens from your organization’s App Store Connect account.",
        "x-platform": "app_store_connect_api"
    },
    "servers": [
        {
            "url": "https://api.appstoreconnect.apple.com/"
        }
    ],
    "paths": {
        "/v1/ageRatingDeclarations/{id}": {
            "summary": "Update required declarations that determine your app's age rating.",
            "description": "ageRatingDeclarations handles your answers to the app-characteristic questions that affect your app's age rating. This resource enables you to answer the questions and update your answers. You must fill out this information before submitting your app for review.",
            "patch": {
                "requestBody": {
                    "description": "AgeRatingDeclaration representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgeRatingDeclarationUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Metadata",
                    "Age Rating Declarations"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgeRatingDeclarationResponse"
                                }
                            }
                        },
                        "description": "Single AgeRatingDeclaration"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "modifyAgeRatingDeclaration",
                "summary": "Modify an Age Rating Declaration",
                "description": "Provide age-related information so the App Store can determine the age rating for your app."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appCategories": {
            "summary": "Get App Store categories and subcategories for apps.",
            "description": "appCategories provides read-only information that includes the list of choices for an app's App Store category, subcategory, and secondary category.\n\nTo update your app's categories, use the App Infos resource.",
            "get": {
                "tags": [
                    "App Metadata",
                    "App Categories"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[platforms]",
                        "description": "filter by attribute 'platforms'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS",
                                    "MAC_OS",
                                    "TV_OS"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "exists[parent]",
                        "description": "filter by existence or non-existence of related 'parent'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCategories]",
                        "description": "the fields to include for returned resources of type appCategories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "platforms",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit",
                        "description": "maximum resources per page",
                        "schema": {
                            "maximum": 200,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[subcategories]",
                        "description": "maximum number of related subcategories returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCategoriesResponse"
                                }
                            }
                        },
                        "description": "List of AppCategories"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    }
                },
                "operationId": "listAppCategories",
                "summary": "List App Categories",
                "description": "List all categories on the App Store, including the category and subcategory hierarchy."
            }
        },
        "/v1/appCategories/{id}": {
            "get": {
                "tags": [
                    "App Metadata",
                    "App Categories"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCategories]",
                        "description": "the fields to include for returned resources of type appCategories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "platforms",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[subcategories]",
                        "description": "maximum number of related subcategories returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCategoryResponse"
                                }
                            }
                        },
                        "description": "Single AppCategory"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppCategory",
                "summary": "Read App Category Information",
                "description": "Get a specific app category."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appEncryptionDeclarations": {
            "summary": "View, and assign to builds, the declarations about types of encryption used in your app.",
            "description": "To comply with regulatory requirements, you sometimes need to provide information and supporting documentation in the form of declarations about the types of encryption used by your app. The app encryption declarations resource represents this information, and enables you to:\n\n<ul>\n<li>View information about the declaration, and</li>\n<li>Assign the declaration to a build.</li>\n</li>\n\nCreate app encryption declarations in App Store Connect.",
            "get": {
                "tags": [
                    "App Encryption Declarations"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[platform]",
                        "description": "filter by attribute 'platform'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS",
                                    "MAC_OS",
                                    "TV_OS"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[app]",
                        "description": "filter by id(s) of related 'app'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[builds]",
                        "description": "filter by id(s) of related 'builds'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appEncryptionDeclarations]",
                        "description": "the fields to include for returned resources of type appEncryptionDeclarations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appEncryptionDeclarationState",
                                    "availableOnFrenchStore",
                                    "builds",
                                    "codeValue",
                                    "containsProprietaryCryptography",
                                    "containsThirdPartyCryptography",
                                    "documentName",
                                    "documentType",
                                    "documentUrl",
                                    "exempt",
                                    "platform",
                                    "uploadedDate",
                                    "usesEncryption"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit",
                        "description": "maximum resources per page",
                        "schema": {
                            "maximum": 200,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[apps]",
                        "description": "the fields to include for returned resources of type apps",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appInfos",
                                    "appStoreVersions",
                                    "availableInNewTerritories",
                                    "availableTerritories",
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "contentRightsDeclaration",
                                    "endUserLicenseAgreement",
                                    "gameCenterEnabledVersions",
                                    "inAppPurchases",
                                    "isOrEverWasMadeForKids",
                                    "name",
                                    "perfPowerMetrics",
                                    "preOrder",
                                    "preReleaseVersions",
                                    "prices",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppEncryptionDeclarationsResponse"
                                }
                            }
                        },
                        "description": "List of AppEncryptionDeclarations"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    }
                },
                "operationId": "listAppEncryptionDeclarations",
                "summary": "List App Encryption Declarations",
                "description": "Find and list all available app encryption declarations."
            }
        },
        "/v1/appEncryptionDeclarations/{id}": {
            "get": {
                "tags": [
                    "App Encryption Declarations"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appEncryptionDeclarations]",
                        "description": "the fields to include for returned resources of type appEncryptionDeclarations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appEncryptionDeclarationState",
                                    "availableOnFrenchStore",
                                    "builds",
                                    "codeValue",
                                    "containsProprietaryCryptography",
                                    "containsThirdPartyCryptography",
                                    "documentName",
                                    "documentType",
                                    "documentUrl",
                                    "exempt",
                                    "platform",
                                    "uploadedDate",
                                    "usesEncryption"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[apps]",
                        "description": "the fields to include for returned resources of type apps",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appInfos",
                                    "appStoreVersions",
                                    "availableInNewTerritories",
                                    "availableTerritories",
                                    "betaAppLocalizations",
                                    "betaAppReviewDetail",
                                    "betaGroups",
                                    "betaLicenseAgreement",
                                    "betaTesters",
                                    "builds",
                                    "bundleId",
                                    "contentRightsDeclaration",
                                    "endUserLicenseAgreement",
                                    "gameCenterEnabledVersions",
                                    "inAppPurchases",
                                    "isOrEverWasMadeForKids",
                                    "name",
                                    "perfPowerMetrics",
                                    "preOrder",
                                    "preReleaseVersions",
                                    "prices",
                                    "primaryLocale",
                                    "sku"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppEncryptionDeclarationResponse"
                                }
                            }
                        },
                        "description": "Single AppEncryptionDeclaration"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppEncryptionDeclaration",
                "summary": "Read App Encryption Declaration Information",
                "description": "Get information about a specific app encryption declaration."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appInfoLocalizations": {
            "summary": "Manage the app metadata that is localized and appears on the App Store.",
            "description": "appInfoLocalizations represent your app's localized metadata that is displayed in the App Store. You can create, read, update, and remove the localized metadata. It includes the following attributes for each localization:\n<ul>\n<li>Locale</li>\n<li>Name</li>\n<li>Subtitle</li>\n<li>Privacy policy URL</li>\n<li>Privacy policy text (for tvOS apps)</li>\n</ul>\n\nYou can update localized metadata when your app is in an editable state.",
            "post": {
                "requestBody": {
                    "description": "AppInfoLocalization representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppInfoLocalizationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Info Localizations",
                    "App Metadata"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfoLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppInfoLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "createAppInfoLocalization",
                "summary": "Create an App Info Localization",
                "description": "Add app-level localized information for a new locale."
            }
        },
        "/v1/appInfoLocalizations/{id}": {
            "get": {
                "tags": [
                    "App Info Localizations",
                    "App Metadata"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appInfoLocalizations]",
                        "description": "the fields to include for returned resources of type appInfoLocalizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appInfo",
                                    "locale",
                                    "name",
                                    "privacyPolicyText",
                                    "privacyPolicyUrl",
                                    "subtitle"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appInfo"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfoLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppInfoLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppInfoLocalization",
                "summary": "Read App Info Localization Information",
                "description": "Read localized app-level information."
            },
            "delete": {
                "tags": [
                    "App Info Localizations",
                    "App Metadata"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "deleteAppInfoLocalization",
                "summary": "Delete an App Info Localization",
                "description": "Delete an app information localization that is associated with an app."
            },
            "patch": {
                "requestBody": {
                    "description": "AppInfoLocalization representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppInfoLocalizationUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Info Localizations",
                    "App Metadata"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfoLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppInfoLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "modifyAppInfoLocalization",
                "summary": "Modify an App Info Localization",
                "description": "Modify localized app-level information for a particular language."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appInfos/{id}": {
            "summary": "Manage or read the app metadata that applies across all versions of your app.",
            "description": "appInfos represents your app’s metadata that applies across all versions of your app. You can update your app's App Store category, subcategory, and secondary category through the appInfos resource. You can also find your app's status, which tells you if the app is editable.\n\nOther attributes in appInfos are read-only. Their values are derived from other resources. For example, your app's appStoreAgeRating value results from the answers you provide to the questions in ageRatingDeclarations.",
            "get": {
                "tags": [
                    "App Metadata"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appInfos]",
                        "description": "the fields to include for returned resources of type appInfos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appInfoLocalizations",
                                    "appStoreAgeRating",
                                    "appStoreState",
                                    "brazilAgeRating",
                                    "kidsAgeBand",
                                    "primaryCategory",
                                    "primarySubcategoryOne",
                                    "primarySubcategoryTwo",
                                    "secondaryCategory",
                                    "secondarySubcategoryOne",
                                    "secondarySubcategoryTwo"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appInfoLocalizations",
                                    "primaryCategory",
                                    "primarySubcategoryOne",
                                    "primarySubcategoryTwo",
                                    "secondaryCategory",
                                    "secondarySubcategoryOne",
                                    "secondarySubcategoryTwo"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCategories]",
                        "description": "the fields to include for returned resources of type appCategories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "platforms",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appInfoLocalizations]",
                        "description": "the fields to include for returned resources of type appInfoLocalizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appInfo",
                                    "locale",
                                    "name",
                                    "privacyPolicyText",
                                    "privacyPolicyUrl",
                                    "subtitle"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appInfoLocalizations]",
                        "description": "maximum number of related appInfoLocalizations returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfoResponse"
                                }
                            }
                        },
                        "description": "Single AppInfo"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppInformation",
                "summary": "Read App Info Information",
                "description": "Read App Store information including your App Store state, age ratings, Brazil age rating, and kids' age band."
            },
            "patch": {
                "requestBody": {
                    "description": "AppInfo representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppInfoUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Infos",
                    "App Metadata"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppInfoResponse"
                                }
                            }
                        },
                        "description": "Single AppInfo"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "modifyAppInfo",
                "summary": "Modify an App Info",
                "description": "Update the App Store categories and sub-categories for your app."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appPreOrders": {
            "summary": "Manage the settings that make your app available for pre-order.",
            "description": "Use appPreOrders to offer your app as a pre-order before it's initial release on the App Store. Customers can see your product page and order your app before it's released for download. Once your app is released, customers are notified and your app is automatically download to their devices.\n\nSet up your app's pre-order settings before submitting it for review. Once your app is approved, you can offer it on the App Store as a pre-order.",
            "post": {
                "requestBody": {
                    "description": "AppPreOrder representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPreOrderCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Pre-Orders"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreOrderResponse"
                                }
                            }
                        },
                        "description": "Single AppPreOrder"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "createAppPreOrder",
                "summary": "Create an App Pre-Order",
                "description": "Turn on pre-order and set the expected app release date."
            }
        },
        "/v1/appPreOrders/{id}": {
            "get": {
                "tags": [
                    "App Pre-Orders"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPreOrders]",
                        "description": "the fields to include for returned resources of type appPreOrders",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appReleaseDate",
                                    "preOrderAvailableDate"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreOrderResponse"
                                }
                            }
                        },
                        "description": "Single AppPreOrder"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppPreOrderInformation",
                "summary": "Read App Pre-Order Information",
                "description": "Get information about your app's pre-order configuration."
            },
            "delete": {
                "tags": [
                    "App Pre-Orders"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "deleteAppPreOrder",
                "summary": "Delete an App Pre-Order",
                "description": "Cancel a planned app pre-order that has not begun."
            },
            "patch": {
                "requestBody": {
                    "description": "AppPreOrder representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPreOrderUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Pre-Orders"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreOrderResponse"
                                }
                            }
                        },
                        "description": "Single AppPreOrder"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "modifyAppPreOrder",
                "summary": "Modify an App Pre-Order",
                "description": "Update the release date for your app pre-order."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appPreviewSets": {
            "summary": "Create sets of app previews to upload to App Store Connect.",
            "description": "An appPreviewSets resource represents a collection of app previews for an app locale and display target; for example, a set of screenshots for the Simplified Chinese listing of your app for an iPhone with a 6.5” display size. Use app preview sets to:\n\n<ul>\n<li>Begin the process of uploading app previews.</li>\n<li>Reorder app previews after they’re uploaded.</li>\n<ul>\n\nTo upload individual previews, uses the App Previews resource.",
            "post": {
                "requestBody": {
                    "description": "AppPreviewSet representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPreviewSetCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Metadata",
                    "App Preview Sets"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreviewSetResponse"
                                }
                            }
                        },
                        "description": "Single AppPreviewSet"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "createAppPreviewSet",
                "summary": "Create an App Preview Set",
                "description": "Add a new app preview set to an App Store version localization for a specific app preview type and display size."
            }
        },
        "/v1/appPreviewSets/{id}": {
            "get": {
                "tags": [
                    "App Metadata",
                    "App Preview Sets"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPreviewSets]",
                        "description": "the fields to include for returned resources of type appPreviewSets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appPreviews",
                                    "appStoreVersionLocalization",
                                    "previewType"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appPreviews",
                                    "appStoreVersionLocalization"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPreviews]",
                        "description": "the fields to include for returned resources of type appPreviews",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appPreviewSet",
                                    "assetDeliveryState",
                                    "fileName",
                                    "fileSize",
                                    "mimeType",
                                    "previewFrameTimeCode",
                                    "previewImage",
                                    "sourceFileChecksum",
                                    "uploadOperations",
                                    "uploaded",
                                    "videoUrl"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appPreviews]",
                        "description": "maximum number of related appPreviews returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreviewSetResponse"
                                }
                            }
                        },
                        "description": "Single AppPreviewSet"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppPreviewSet",
                "summary": "Read App Preview Set Information",
                "description": "Get an app preview set that includes its display target, language, and the previews it contains."
            },
            "delete": {
                "tags": [
                    "App Metadata",
                    "App Preview Sets"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "deleteAppPreviewSet",
                "summary": "Delete an App Preview Set",
                "description": "Delete an app preview set and all of its previews."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appPreviews": {
            "summary": "Upload and download app previews for an app locale and display target.",
            "description": "An appPreviews resource represents a single app preview for an app locale and display target. Use this resource to:\n\n<ul>\n<li>Upload new app previews to App Store Connect.</li>\n<li>Download existing app previews.</li>\n<li>Set a custom timestamp for the preview’s poster frame.</li>\n</ul>\n\nTo upload app previews, begin by creating an App Preview Sets resource for the locale and display target.",
            "post": {
                "requestBody": {
                    "description": "AppPreview representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPreviewCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Metadata",
                    "App Previews"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreviewResponse"
                                }
                            }
                        },
                        "description": "Single AppPreview"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "createAppPreview",
                "summary": "Create an App Preview",
                "description": "Add a new app preview to a preview set."
            }
        },
        "/v1/appPreviews/{id}": {
            "get": {
                "tags": [
                    "App Metadata",
                    "App Previews"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPreviews]",
                        "description": "the fields to include for returned resources of type appPreviews",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appPreviewSet",
                                    "assetDeliveryState",
                                    "fileName",
                                    "fileSize",
                                    "mimeType",
                                    "previewFrameTimeCode",
                                    "previewImage",
                                    "sourceFileChecksum",
                                    "uploadOperations",
                                    "uploaded",
                                    "videoUrl"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appPreviewSet"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreviewResponse"
                                }
                            }
                        },
                        "description": "Single AppPreview"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "readAppPreview",
                "summary": "Read App Preview Information",
                "description": "Get information about an app preview and its upload and processing status."
            },
            "delete": {
                "tags": [
                    "App Metadata",
                    "App Previews"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "deleteAppPreview",
                "summary": "Delete an App Preview",
                "description": "Delete an app preview within a preview set."
            },
            "patch": {
                "requestBody": {
                    "description": "AppPreview representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPreviewUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "App Metadata",
                    "App Previews"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPreviewResponse"
                                }
                            }
                        },
                        "description": "Single AppPreview"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "modifyAppPreview",
                "summary": "Modify an App Preview",
                "description": "Commit the app preview after uploading it, and update the poster frame timecode."
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appPricePoints": {
            "summary": "Get app prices and proceeds that correspond to price tiers.",
            "description": "Using appPricePoints, you can get the customer price and proceeds that correspond to a price tier. You can filter the resource by price tier and territory.\n\nYou can also access the list of available price tiers, their corresponding currency values, and proceeds by downloading a matrix from the Pricing and Availability page on the App Store Connect website.",
            "get": {
                "tags": [
                    "App Price Reference Data"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[priceTier]",
                        "description": "filter by id(s) of related 'priceTier'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[territory]",
                        "description": "filter by id(s) of related 'territory'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPricePoints]",
                        "description": "the fields to include for returned resources of type appPricePoints",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "customerPrice",
                                    "priceTier",
                                    "proceeds",
                                    "territory"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit",
                        "description": "maximum resources per page",
                        "schema": {
                            "maximum": 200,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "priceTier",
                                    "territory"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[territories]",
                        "description": "the fields to include for returned resources of type territories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "currency"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPricePointsResponse"
                                }
                            }
                        },
                        "description": "List of AppPricePoints"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    }
                },
                "operationId": "listAppPricePoints",
                "summary": "List App Price Points",
                "description": "List all app price points available in App Store Connect, including related price tier, developer proceeds, and territory."
            }
        },
        "/v1/appPricePoints/{id}": {
            "get": {
                "tags": [
                    "App Price Reference Data"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPricePoints]",
                        "description": "the fields to include for returned resources of type appPricePoints",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "customerPrice",
                                    "priceTier",
                                    "proceeds",
                                    "territory"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "priceTier",
                                    "territory"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[territories]",
                        "description": "the fields to include for returned resources of type territories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "currency"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPricePointResponse"
                                }
                            }
                        },
                        "description": "Single AppPricePoint"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
[...]
